body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color: white;
}

#board {
    display: block;
    margin: auto;
    background-color: black;
    border-bottom: 2px solid white;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:active {
    background-color: #555;
}
